[submodule "Collider-Tool"]
	path = Assets/Games/Collider-Tool
	url = https://github.com/NicoIer/Collider-Tool.git
[submodule "MoBa"]
    path = Assets/Games/MoBa
    url = https://github.com/NicoIer/Moba.git
[submodule "Unity-Toolkits"]
	path = Assets/Plugins/Unity-Toolkits
	url = https://github.com/NicoIer/Unity-Toolkit.git
